// COLORS
$primary-color: #37447d;
$primary-gradient-color: #447ac9;

$second-color: #6fcf97;
$third-color: #f2c94c;
$fourth-color: #445dc9;
$fifth-color: #bb6bd9;

$white-color: #fff;

$footer: #333333;

$text-color: #1e2545;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
