// COLORS
$primary-color: #37447d;
$secondary-color: #447ac9;

$theme-red: #ea5b5b;
$theme-green: #6fcf97;
$theme-yellow: #f2c94c;
$theme-indigo: #445dc9;
$theme-purple: #bb6bd9;

$white-color: #fff;

$footer: #333333;

$text-color: #1e2545;

$red: #f3576c;
$purple: #3e2e6a;
$blue: #130b52;
$bg: #fbe6d3;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
